* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(scary_jocker.jpg) no-repeat center center fixed;
    background-size: cover;
}

.menubar {
    background-color: none;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.logo {
    color: red;
    font-size: 80px;
}

.logo span {
    color: grey;
}

.menubar ul {
    list-style: none;
    display: flex;
    margin-right: 100px;
}

.menubar ul li {
    padding: 10px 30px;
    position: relative;
}

.menubar ul li a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    transition: all 0.5s;
}

.menubar ul li a:hover {
    color: red;
}

.dpdn_menu {
    display: none;
}

.menubar ul li:hover .dpdn_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: none;
}

.menubar ul li:hover .dpdn_menu ul {
    display: block;
    margin: 10px;
}

.menubar ul li:hover .dpdn_menu ul li {
    width: 150px;
    padding: 12px;
}

.dpdn_menu1 {
    display: none;
}

.dpdn_menu ul li:hover .dpdn_menu1 {
    display: block;
    position: absolute;
    right: 400px;
    top: 20px;
    background-color: none;
}

.dpdn_menu ul li:hover .dpdn_menu1 ul {
    display: block;
    margin: 10px;
}

.dpdn_menu1 ul li {
    width: 150px;
    padding: 12px;
}

.container {
    position: absolute;
    top: 30%;
    left: 30%;
}

.container {
    font-size: 30px;
    margin-bottom: 43px 0px;
    padding: 15px 0px;
}

.box {
    width: 100%;
    border-bottom: 12px solid darkred;
    padding: 22px 22px;
    margin: 50px 48px;
    font-weight: bold;
    font-size: 80px;
    color: red;
}

.box input {
    background: none;
    width: 75%;
    margin: 33px 33px;
    font-size: 80px;
    border: none;
    outline: none;
    color: lightskyblue;

}

.btn {
    cursor: pointer;
    outline: none;
    width: 15%;
    margin: 33px 100px;
    padding: 20px;
    border: 10px solid darkred;
    border-radius: 26px;
    color: red;
    background: none;
    font-weight: bold;
    font-size: 60px;
}

.btn:hover {
    color: black;
    background-color: red;
}